head{
position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;
background: #543838;
}
.Header{
position: absolute;
width: 1177px;
height: 69px;
left: 0px;
top: 0px;
}
.HeaderBox{
position: absolute;
width: 1177px;
height: 69px;
left: 0px;
top: 0px;
background: #C4C4C4;
}
.HeaderImage{
position: absolute;
width: 40px;
height: 60px;
left: 24px;
top: 2px;
}
.HeaderText{
position: absolute;
width: 846px;
height: 35px;
left: 81px;
top: 30px;

font-family: Roboto;
font-style: italic;
font-weight: 300;
font-size: 18px;
line-height: 21px;

color: #3DA70C;
}
.Menu{
position: absolute;
width: 612px;
height: 97px;
left: 1308px;
top: 0px;
}
.MenuBox{
position: absolute;
width: 612px;
height: 97px;
left: 0px;
top: 0px;

background: #C4C4C4;
}
.MenuText{
position: absolute;
width: 170px;
height: 54px;
left: 40px;
top: 30px;

font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #000000;
}
.Center{
position: absolute;
width: 825px;
height: 241px;
left: 547px;
top: 392px;
}
.CenterBigBox{
position: absolute;
width: 825px;
height: 241px;
left: 0px;
top: 0px;

background: #C4C4C4;
}
.CenterSmallBox{
position: absolute;
width: 214px;
height: 48px;
left: 306px;
top: 175px;

background: #543838;
}

.CenterText{
	position: absolute;
width: 346px;
height: 43px;
left: 240px;
top: 6px;

font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 36px;
line-height: 42px;


color: #000000;
}
.Footer{
position: absolute;
width: 1920px;
height: 144px;
left: 0px;
top: 936px;
}
.FooterBox{
position: absolute;
width: 1920px;
height: 144px;
left: 0px;
top: 936px;
}
