#first{
	text-align: center;
}
.list{
	
position: absolute;
width: 825px;
height: 186px;
left: 547px;
top: 307px;
background: #C4C4C4;

}
 #content {
    top: 82px; /* Расстояние от верхнего края */
    left: 170px; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
}
body{
	font-size: 30px;
	line-height: 1.6;
	color: #333;
	background: #bdecb6;
	height: 300px;
}
select{
	position: absolute;
	width: 400px;
	height: 60px;
	left: 210px;
	top: 46px;
}